a {
  text-decoration: none;
  color: black;
  padding-right: 30px;
}
.mini-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0872b9;
  padding: 20px;
  color: white;
}
.navbar-location {
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-shadow: 1 1 2px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.navbar-links {
  align-self: center;
}
.navbar-links:hover {
  color: #0872b9;
}
.heroSection {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(
    360deg,
    #ffffff 0%,
    #ffffff 25%,
    #f3f9ff 75.12%,
    #e6f3ff 100%
  );
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  gap: 10px;
  margin-top: 120px;
}
.hero-button {
  padding: 18px 32px 18px 32px;
  border-radius: 8px;
  background-color: #0872b9;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #0872b9;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 20px;
}

.second-text {
  text-align: center;
  margin-top: 20px;
}
h1 {
  font-size: 3rem;
}
span {
  color: #0872b9;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.card {
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  box-shadow: 2px 2px 3px 4px;
}
